.card{
  margin: 2rem;
  border-radius: 1rem 1rem 2rem 2rem;
}

.card .content{
  background-color: var(--dark-blue);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  color: var(--white);
  position: relative;
  z-index: 0;
}

.card p{
  text-align: right;
  color: var(--desaturated-blue);
  font-weight: 400;
}

.card h1{
  font-weight: 300;
  margin: 0;
}

.card h3{
  font-weight: 500;
  margin: 0;
}

.card .icon{
  display: flex;
  justify-content: flex-end;
  height: 2.5rem;
  position: relative;
  overflow: hidden;
}

.card .icon img{
  position: absolute;
  top: -1rem;
  right: 1rem;
}

.card .ellipsis{
  justify-self: flex-end;
}

.work{
  background-color: var(--light-orange);
}
.play{
  background-color: var(--soft-blue);
}
.study{
  background-color: var(--light-red);
}
.exercise{
  background-color: var(--lime-green);
}
.social{
  background-color: var(--violet);
}
.self-care{
  background-color: var(--soft-orange);
}