.menu{
  background-color: var(--dark-blue);
  margin: 2rem;
  border-radius: 2rem 2rem 1rem 1rem;
  color: var(--white);
  font-family: 'Rubik', sans-serif;
}

.menu .user{
  display: flex;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--blue);
}

.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.menu img{
  max-width: 80px;
  border: 3px solid var(--white);
  border-radius: 100px;
  height: 100%;
  width: 80px;
  margin-right: 1rem;
}

.menu nav{
  padding: 1.5rem 2rem;
}

.menu a{
  font-size: 1rem;
  color: var(--desaturated-blue);
  transition: all .2s ease;
}

.menu a.active,
.menu a:hover{
  color: var(--white);
  cursor: pointer;
}

.menu h1{
  font-weight: 400;
  margin: 0;
}

.menu h1 small{
  font-weight: 300;
  font-size: 1rem;
}